<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/list"><h1>Hello, EJS</h1></a>

    <p><b>ชื่อ: </b> <%= name %></p>
    <p><b>อายุ: </b> <%= age %></p>
    <p><b>ที่อยู่: </b> <%- address %></p>
    <hr />
    <%if(age > 15){%>
    <h1>Pass</h1>
    <%}else{%>
    <h1>Fail</h1>
    <%}%>
    <hr />
    <%for(i=0;i < 10;i++){%>
    <p>index : <%= i%></p>
    <%}%>
  </body>
</html>
